body{
    background-color: rosybrown;
}

#para{
    text-align: center;
    padding-top: 5%;
}

#butt{
    text-align: center;
}

.but1{
    margin-right: 10px;
    height: 50px;
    width: 75px;
    background-color: orange;
    border-radius: 10px;
}

.but2{
    height: 50px;
    width: 75px;
    background-color: orange;
    border-radius: 10px;
}